In [4]:
%matplotlib notebook

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

file_path="Data_Resources/park_type_and_region.csv"
parkcode_df = pd.read_csv(file_path)
#parkcode_df.head()

file_path="Data_Resources/monthly_park_visits.csv"
monthly_visits_df = pd.read_csv(file_path)
monthly_visits_df.isnull().sum()

parkCode      0
Park Name     0
JAN_2019     10
FEB_2019      6
MAR_2019      5
APR_2019      5
MAY_2019      2
JUN_2019      0
JUL_2019      0
AUG_2019      0
SEP_2019      0
OCT_2019      0
NOV_2019      0
DEC_2019      0
JAN_2020     10
FEB_2020      6
MAR_2020      5
APR_2020      5
MAY_2020      2
JUN_2020      0
JUL_2020      0
AUG_2020      0
SEP_2020      0
OCT_2020      0
NOV_2020      0
DEC_2020      0
dtype: int64

In [5]:
monthly_visits_df = monthly_visits_df.fillna(0)

In [6]:
monthly_visits_df.isnull().sum()

parkCode     0
Park Name    0
JAN_2019     0
FEB_2019     0
MAR_2019     0
APR_2019     0
MAY_2019     0
JUN_2019     0
JUL_2019     0
AUG_2019     0
SEP_2019     0
OCT_2019     0
NOV_2019     0
DEC_2019     0
JAN_2020     0
FEB_2020     0
MAR_2020     0
APR_2020     0
MAY_2020     0
JUN_2020     0
JUL_2020     0
AUG_2020     0
SEP_2020     0
OCT_2020     0
NOV_2020     0
DEC_2020     0
dtype: int64

In [7]:
monthly_visits_df.columns

Index(['parkCode', 'Park Name', 'JAN_2019', 'FEB_2019', 'MAR_2019', 'APR_2019',
       'MAY_2019', 'JUN_2019', 'JUL_2019', 'AUG_2019', 'SEP_2019', 'OCT_2019',
       'NOV_2019', 'DEC_2019', 'JAN_2020', 'FEB_2020', 'MAR_2020', 'APR_2020',
       'MAY_2020', 'JUN_2020', 'JUL_2020', 'AUG_2020', 'SEP_2020', 'OCT_2020',
       'NOV_2020', 'DEC_2020'],
      dtype='object')

In [18]:
month_df = pd.merge(monthly_visits_df, parkcode_df, on="parkCode", how="outer")
month_df

,parkCode,Park Name,JAN_2019,FEB_2019,MAR_2019,APR_2019,MAY_2019,JUN_2019,JUL_2019,AUG_2019,...,MAY_2020,JUN_2020,JUL_2020,AUG_2020,SEP_2020,OCT_2020,NOV_2020,DEC_2020,parkType,Region
0,ABLI,Abraham Lincoln Birthplace NHP,1939.0,6534.0,14566.0,16496.0,24646.0,26854.0,37334.0,34816.0,...,21102.0,29111.0,37249.0,31290.0,29134.0,18615.0,12147.0,7472.0,National Historical Park,Southeast
1,ACAD,Acadia NP,8532.0,9154.0,20161.0,68046.0,226156.0,490720.0,756439.0,759735.0,...,103120.0,201156.0,493971.0,681746.0,500320.0,480859.0,76251.0,21260.0,National Park,Northeast
2,ADAM,Adams NHP,27.0,179.0,253.0,537.0,13187.0,23963.0,75333.0,26011.0,...,743.0,759.0,460.0,520.0,575.0,500.0,491.0,544.0,National Historical Park,Northeast
3,AFBG,African Burial Ground NM,96.0,1571.0,1395.0,5022.0,5482.0,4621.0,5520.0,4332.0,...,0.0,0.0,0.0,0.0,0.0,446.0,446.0,116.0,National Monument,Northeast
4,AGFO,Agate Fossil Beds NM,0.0,94.0,401.0,391.0,2188.0,3276.0,4222.0,2775.0,...,310.0,834.0,2377.0,1686.0,1558.0,978.0,252.0,121.0,National Monument,Midwest
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
374,YELL,Yellowstone NP,33896.0,31650.0,28695.0,48150.0,434385.0,781853.0,936062.0,820006.0,...,46219.0,573205.0,955645.0,881829.0,837114.0,359889.0,24132.0,28643.0,National Park,Intermountain
375,YOSE,Yosemite NP,116746.0,111665.0,173610.0,297207.0,393004.0,496625.0,717462.0,703153.0,...,0.0,236534.0,501068.0,375226.0,258561.0,249827.0,136799.0,117454.0,National Park,Pacific West
376,YUCH,Yukon-Charley Rivers NPRES,6.0,72.0,46.0,37.0,14.0,182.0,354.0,246.0,...,25.0,72.0,149.0,164.0,88.0,89.0,8.0,20.0,National Preserve,Alaska
377,ZION,Zion NP,98828.0,102269.0,296316.0,372349.0,529553.0,594896.0,629802.0,535322.0,...,178194.0,377425.0,449518.0,450183.0,520987.0,559342.0,319853.0,227244.0,National Park,Intermountain
378,ARHO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,National Memorial,National Capital

In [19]:
month_df = month_df.iloc[:-1]
month_df

,parkCode,Park Name,JAN_2019,FEB_2019,MAR_2019,APR_2019,MAY_2019,JUN_2019,JUL_2019,AUG_2019,...,MAY_2020,JUN_2020,JUL_2020,AUG_2020,SEP_2020,OCT_2020,NOV_2020,DEC_2020,parkType,Region
0,ABLI,Abraham Lincoln Birthplace NHP,1939.0,6534.0,14566.0,16496.0,24646.0,26854.0,37334.0,34816.0,...,21102.0,29111.0,37249.0,31290.0,29134.0,18615.0,12147.0,7472.0,National Historical Park,Southeast
1,ACAD,Acadia NP,8532.0,9154.0,20161.0,68046.0,226156.0,490720.0,756439.0,759735.0,...,103120.0,201156.0,493971.0,681746.0,500320.0,480859.0,76251.0,21260.0,National Park,Northeast
2,ADAM,Adams NHP,27.0,179.0,253.0,537.0,13187.0,23963.0,75333.0,26011.0,...,743.0,759.0,460.0,520.0,575.0,500.0,491.0,544.0,National Historical Park,Northeast
3,AFBG,African Burial Ground NM,96.0,1571.0,1395.0,5022.0,5482.0,4621.0,5520.0,4332.0,...,0.0,0.0,0.0,0.0,0.0,446.0,446.0,116.0,National Monument,Northeast
4,AGFO,Agate Fossil Beds NM,0.0,94.0,401.0,391.0,2188.0,3276.0,4222.0,2775.0,...,310.0,834.0,2377.0,1686.0,1558.0,978.0,252.0,121.0,National Monument,Midwest
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
373,WUPA,Wupatki NM,724.0,4243.0,17447.0,14767.0,14117.0,27113.0,26993.0,24528.0,...,0.0,17432.0,19276.0,22804.0,24198.0,17215.0,12067.0,8339.0,National Monument,Intermountain
374,YELL,Yellowstone NP,33896.0,31650.0,28695.0,48150.0,434385.0,781853.0,936062.0,820006.0,...,46219.0,573205.0,955645.0,881829.0,837114.0,359889.0,24132.0,28643.0,National Park,Intermountain
375,YOSE,Yosemite NP,116746.0,111665.0,173610.0,297207.0,393004.0,496625.0,717462.0,703153.0,...,0.0,236534.0,501068.0,375226.0,258561.0,249827.0,136799.0,117454.0,National Park,Pacific West
376,YUCH,Yukon-Charley Rivers NPRES,6.0,72.0,46.0,37.0,14.0,182.0,354.0,246.0,...,25.0,72.0,149.0,164.0,88.0,89.0,8.0,20.0,National Preserve,Alaska
377,ZION,Zion NP,98828.0,102269.0,296316.0,372349.0,529553.0,594896.0,629802.0,535322.0,...,178194.0,377425.0,449518.0,450183.0,520987.0,559342.0,319853.0,227244.0,National Park,Intermountain

In [31]:
jan2019 = month_df.groupby('parkType')['JAN_2019'].sum()
feb2019 = month_df.groupby('parkType')['FEB_2019'].sum()
mar2019 = month_df.groupby('parkType')['MAR_2019'].sum()
apr2019 = month_df.groupby('parkType')['APR_2019'].sum()
may2019 = month_df.groupby('parkType')['MAY_2019'].sum()
jun2019 = month_df.groupby('parkType')['JUN_2019'].sum()
jul2019 = month_df.groupby('parkType')['JUL_2019'].sum()
aug2019 = month_df.groupby('parkType')['AUG_2019'].sum()
sep2019 = month_df.groupby('parkType')['SEP_2019'].sum()
oct2019 = month_df.groupby('parkType')['OCT_2019'].sum()
nov2019 = month_df.groupby('parkType')['NOV_2019'].sum()
dec2019 = month_df.groupby('parkType')['DEC_2019'].sum()
jun2019

parkType
International Historic Site         1644.0
National Battlefield              255584.0
National Battlefield Park         409128.0
National Historic Site           1030170.0
National Historical Park         4132698.0
National Lakeshore                349255.0
National Memorial                4631464.0
National Military Park            464929.0
National Monument                4452334.0
National Park                   12163092.0
National Parkway                 3277674.0
National Preserve                 350020.0
National Recreation Area         6042946.0
National Reserve                   23582.0
National River                    614482.0
National Seashore                2304353.0
National Wild & Scenic River      208195.0
Park (Other)                     1019891.0
Name: JUN_2019, dtype: float64

In [45]:
# summer2019 = jun2019 + jul2019 + aug2019
# summer2019
summer2019 = (month_df['JUN_2019']+month_df['AUG_2019']+ month_df['AUG_2019']).sum()
summer2019

123299589.0

In [44]:
# jun2020 = month_df.groupby('parkType')['JUN_2020'].sum()
# jul2020 = month_df.groupby('parkType')['JUL_2020'].sum()
# aug2020 = month_df.groupby('parkType')['AUG_2020'].sum()
summer2020 = (month_df['JUN_2020']+month_df['AUG_2020']+ month_df['AUG_2020']).sum()
summer2020

88585909.0

In [33]:
# summer2020 = jun2020 + jul2020 + aug2020
# summer2020

parkType
International Historic Site         3923.0
National Battlefield              603402.0
National Battlefield Park        1081845.0
National Historic Site           1080205.0
National Historical Park         5739228.0
National Lakeshore               2148018.0
National Memorial                4441835.0
National Military Park            925031.0
National Monument                2908608.0
National Park                   29664949.0
National Parkway                 9823600.0
National Preserve                1025094.0
National Recreation Area        17871213.0
National Reserve                   48187.0
National River                   1943731.0
National Seashore                7961010.0
National Wild & Scenic River      869903.0
Park (Other)                     1566027.0
dtype: float64

In [46]:
# counts = clean_mice_df['Drug Regimen'].value_counts()

figure = plt.figure()
subplot = figure.add_subplot()

index = 1
width = 1

# plt.barh(summer2020.index.values,summer2020.values)

plt.barh(summer2020.index.values, 1, width)
plt.barh(index + width, 2, with)
plt.title("Total Number of Measurements by Drug Regimen (pyplot)")

plt.xlabel("Drug Regimen")
plt.xticks(rotation=45)

plt.ylabel("Number of Measurements")
plt.tight_layout()
plt.show()

AttributeError: 'numpy.float64' object has no attribute 'index'

In [39]:
plt.barh(summer2019.index.values,summer2019.values)

plt.title("Total Number of Measurements by Drug Regimen (pyplot)")

plt.xlabel("Drug Regimen")
plt.xticks(rotation=45)

plt.ylabel("Number of Measurements")
plt.tight_layout()
plt.show()

In [27]:
jan2019r = month_df.groupby('Region')['JAN_2019'].sum()
feb2019r = month_df.groupby('Region')['FEB_2019'].sum()
mar2019r = month_df.groupby('Region')['MAR_2019'].sum()
apr2019r = month_df.groupby('Region')['APR_2019'].sum()
may2019r = month_df.groupby('Region')['MAY_2019'].sum()
jun2019r = month_df.groupby('Region')['JUN_2019'].sum()
jul2019r = month_df.groupby('Region')['JUL_2019'].sum()
aug2019r = month_df.groupby('Region')['AUG_2019'].sum()
sep2019r = month_df.groupby('Region')['SEP_2019'].sum()
oct2019r = month_df.groupby('Region')['OCT_2019'].sum()
nov2019r = month_df.groupby('Region')['NOV_2019'].sum()
dec2019r = month_df.groupby('Region')['DEC_2019'].sum()
dec2019r

Region
Alaska                 11849.0
Intermountain        1865428.0
Midwest               619652.0
National Capital     2572721.0
Northeast            2665208.0
Pacific West         3774492.0
Southeast            4055891.0
Name: DEC_2019, dtype: float64